.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not-found-container h1 {
  font-size: 4rem;
  margin: 0;
}

.not-found-container p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}

.backhome-btn {
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}
