.restaurant-page {
  min-height: 100vh;
  width: 100%;
}

.restaurant-page img {
  width: 100vw;
  height: 400px;
  object-fit: cover;
  margin-left: calc(-50vw + 50%); /* retire les marges du wrapper */
}

.info-container {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  padding-bottom: 40px;
  z-index: 2;
}

.info-container h1 {
  padding: 51px;
  font-family: var(--font-shrikhand);
  text-align: center;
}

.info-container .heart {
  color: #101010;
  width: 22px;
  height: 21px;
  padding-left: 5px;
}

.food-container {
  width: 70%;
}

.food-container h6 {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

.info-container button {
  margin: 40px;
  padding: 15px 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(#9356dc, #ff79da);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .food-container {
    width: 100%;
  }
}
